

.card{
    border-radius: 23px !important;
    background-color: aliceblue !important;
   
}
.admin-dashboard{
    background-image: linear-gradient(to right bottom, #a99ced, #a3a1ee, #9fa6ee, #9babed, #99afec, #91b6ee, #8bbcef, #88c2ee, #81cced, #81d4ea, #89dce4, #96e3dd);
    width: 100% !important;
    height: 600px !important;
}
.admin-dashboard h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(4, 102, 194);
}
.link-admin{
    color: rgb(4, 102, 194);
    font-size: 34px !important;
    padding-bottom: 23px;
   }
 .button-dashboard{
       font-family:"Comic Sans MS", cursive, sans-serif;
       font-size: 34px;
       color: rgb(36, 35, 35);
      border-color: transparent !important;
       width:158%!important;
       margin-top: 67px !important;
       height: 145px !important;
 }  
 .b1{
     background-color: #bf93f1 !important;
 }
 .b2{
    background-color: #ea92f1 !important;
 }
 .b3{
    background-color: #8ddef7 !important; 
 }
 .b4{
    background-color: #ebc77c !important;
 }
 .link-admin{
     color: #3788bb !important;
 }

 .hit-the-floor {
    color: #fff;

    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px white, 0 0 5px white, 0 1px 3px white, 0 3px 5px white, 0 5px 10px white, 0 10px 10px white, 0 20px 20px white;
    }
    
    .hit-the-floor {
      text-align: center;
      color: #fff;
    }