.form-user{
    margin-left: 23% !important;
    margin-top: 123px !important;
    text-align: justify !important;
}
.Table-user{
    width: 78% !important;
    margin-left: 12% !important;
    margin-top: 55px !important;
}
.delete{
    color: rgb(150, 149, 149);
    font-size: 20px !important;
}