.container1{
  display: flex;
  justify-content: space-around;

}
.navbar{
  height: 80px;
}
.navbar a {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 7px;
  padding-top: 10px;
  color: #4e4c4c;
  text-decoration: none !important;
  font-size: 16px;
  
}
.active{
  color: #1583e9 !important;
}
.navbar a:hover {
 color: #1583e9;
}
.immm{
  display: flex;
  flex-wrap: wrap;
}

.first_title{
  margin-top: 50px 
}

.im2{
  height: 600px;
  width: 900px !important;
}

.logo-navbar{
  width: 100% !important;
  height: 50px !important;
}
.title-service{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 34px;
  color: #1583e9;
  margin-bottom: 42px !important;
}
.dropdown-link{
  font-family: 'Lucida Sans';
  color: #686666 !important;
  text-align: center !important;
  padding-left: 3% !important;
} 


.title32{
  color:#1583e9 !important;
  font-size: 2em !important;
  font-weight: bold !important;
}

.title3{
  color:#1583e9;
font-size: 3em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.img2{
  height: 600px;
  width: 900px !important;
  position: relative !important;
  -webkit-animation-name: example !important; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s !important;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-delay: 2s !important; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: both !important; /* Safari 4.0 - 8.0 */
  animation-name: example !important;
  animation-duration: 3s !important;
  animation-delay: 2s !important;
  animation-fill-mode: both !important;
 
}

@keyframes img2 {
  from {top: -300px !important; }
  to {top: 0px !important;}
}
.categ{
  background-color: #bfdbf5 !important;
}