.container1{
  display: flex;
  justify-content: space-around;

}

.navbar a {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 7px;
  color: #303030;;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
 color: #1583e9;
}


.first_title{
  margin-top: 50px
}

.im2{
  height: 600px;
  width: 900px !important;
}



