.container1{
  display: flex;
  justify-content: space-around;

}
.navbar{
  height: 61px;
}
.navbar a {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 7px;
  padding-top: 10px;
  color: #4e4c4c;
  text-decoration: none !important;
  font-size: 16px;
  
}
.active{
  color: #1583e9 !important;
}
.navbar a:hover {
 color: #1583e9;
}
.immm{
  display: flex;
  flex-wrap: wrap;
}

.first_title{
  margin-top: 50px 
}

.im2{
  height: 600px;
  width: 900px !important;
}

.logo-navbar{
  width: 100% !important;
  height: 50px !important;
}
.title-service{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 34px;
  color: #1583e9;
  margin-bottom: 42px !important;
}
/* .dropdown-link{
  font-family: 'Lucida Sans';
  color: #686666 !important;
  text-align: center !important;
  padding-left: 3% !important;
} */
